# This is a sample profile used by config-server.bash to provide
# example format for answers to it's querries.
export RHOST="localhost"
export RHOST6="::1"
export MODE=64
export PPROFILE=lspp
export PATH="$PATH:."
export PASSWD="redhat"
export AUDITPATH="/usr/local/eal4_testing/audit-test"
export LOCAL_DEV="eth3"
export LOCAL_SEC_DEV="eth4"
export LOCAL_SEC_MAC="78:2B:CB:4B:EB:BC"
export LOCAL_IPV4="10.0.0.2"
export LOCAL_IPV6="2600::2"
export LOCAL_SEC_IPV4="10.0.1.2"
export LOCAL_SEC_IPV6="2600:1::2"
export LBLNET_SVR_IPV4="10.0.0.1"
export LBLNET_SVR_IPV6="2600::1"
export LBLNET_PREFIX_IPV6="2600::/64"
export LBLNET_SVR_DEV="eth0"
export LNET4MASK="255.255.255.0"
export LNET6MASK="64"
export SECNET_SVR_IPV4="10.0.1.1"
export SECNET_SVR_IPV6="2600:1::1"
export SECNET_SVR_DEV="eth1"
export SECNET_SVR_MAC="00:04:23:B3:B5:83"
export SNET4MASK="255.255.255.0"
export SNET6MASK="64"
export BRIDGE_FILTER="toebr"
